.status-pending {
  @apply bg-amber-50 text-amber-600 border-amber-200;
}

.status-completed {
  @apply bg-emerald-50 text-emerald-600 border-emerald-200;
}

.status-rejected {
  @apply bg-rose-50 text-rose-600 border-rose-200;
}

.status-transit {
  @apply bg-blue-50 text-blue-600 border-blue-200;
}

.status-incidence {
  @apply bg-orange-50 text-orange-600 border-orange-200;
}