
.small-icon-button {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;

    .mat-icon {
        width: 20px !important;
        height: 20px !important;
        line-height: 20px !important;
    }
}

table.mat-table {
    width: 100%;
    table-layout: auto;

    th, td {
        white-space: nowrap !important;
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

.mat-column-actions {
    width: 100px;
}

.mat-column-folio {
    width: 60px;
}

// Sticky Header Fixes
th.mat-header-cell {
    background-color: white !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 100 !important;
    @apply uppercase text-xs font-semibold text-secondary;
}

.mat-column-folio {
    @apply bg-white dark:bg-gray-900;
    z-index: 20 !important;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.05);
}

th.mat-column-folio {
    z-index: 110 !important; // Above other headers
}

tr.mat-header-row {
    background-color: white !important;
}

.dark {
    th.mat-header-cell, tr.mat-header-row {
        background-color: #1e293b !important;
    }
}
