<div class="absolute inset-0 flex flex-col overflow-hidden p-6">
    <h1 class="text-2xl font-bold mb-4">
        {{ clientId ? 'Editar Cliente' : 'Nuevo Cliente' }}
    </h1>

    <form [formGroup]="clienteForm" (ngSubmit)="saveClient()" class="flex flex-col gap-4 overflow-auto">
        <!-- Nombre -->
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>

        <!-- Dirección -->
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccion">
        </mat-form-field>

        <!-- Ciudad y Estado -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="ciudad">
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Colonia</mat-label>
                <mat-select formControlName="colonia">
                    <!-- Mostrar el valor guardado como opción inicial si aún no se ha llenado el select -->
                    <mat-option *ngIf="!asentamientos.includes(clienteForm.get('colonia')?.value) && clienteForm.get('colonia')?.value" 
                                [value]="clienteForm.get('colonia')?.value">
                        {{ clienteForm.get('colonia')?.value }}
                    </mat-option>
            
                    <mat-option *ngFor="let asentamiento of asentamientos" [value]="asentamiento">
                        {{ asentamiento }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
                <mat-option *ngFor="let estado of estadosMexico" [value]="estado">
                    {{ estado }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- País y Código Postal -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>País</mat-label>
                <input matInput formControlName="pais" disabled value="México">
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Código Postal</mat-label>
                <input matInput formControlName="codigoPostal" (blur)="buscarDireccionPorCP()">
            </mat-form-field>
        </div>

        <!-- Teléfono y Email -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono">
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>
        </div>

        <!-- Empresa y RFC -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Empresa</mat-label>
                <input matInput formControlName="empresa">
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full">
                <mat-label>RFC</mat-label>
                <input matInput formControlName="rfc">
            </mat-form-field>
        </div>

        <!-- Botones -->
        <div class="sticky bottom-0 py-2 flex justify-end gap-2">
            <button mat-raised-button color="primary" type="submit" class="w-full md:w-auto">Guardar</button>
            <button mat-button color="warn" type="button" (click)="router.navigate(['/catalogs/clients'])">Cancelar</button>
        </div>
    </form>
</div>