/* Estilos personalizados para el portal público de proveedores */
:host {
    display: block;
    width: 100%;
}

.text-indigo-650 {
    color: #4f46e5;
}

.bg-indigo-650 {
    background-color: #4f46e5;
}

.border-indigo-650 {
    border-color: #4f46e5;
}
