.filter-menu {
    .filter-container {
      padding: 20px;
      width: 320px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      background: #ffffff;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }
  
    .filter-title {
      font-size: 16px;
      font-weight: 600;
      color: #333;
      margin-bottom: 8px;
      text-align: center;
    }
  
    .filter-field {
      width: 100%;
    }
  
    .filter-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
    }
  
    .reset-button {
      background: #fef2f2;
      color: #d32f2f;
      border: 1px solid #d32f2f;
      display: flex;
      align-items: center;
      gap: 8px;
      &:hover {
        background: #fcdede;
      }
    }
  
    .apply-button {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  .small-icon-button {
   width: 30px !important;
   height: 30px !important;
   line-height: 30px !important;

   .mat-icon {
      width: 20px !important;
      height: 20px !important;
      line-height: 20px !important;
   }
   .material-icons {
      font-size: 20px !important;
   }
}
.mat-column-actions {
    flex: none;
    width: 100px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none; /* Elimina el espacio de error/pista para que el grid sea simétrico */
}

/* Para asegurar que el botón verde de Material respete tu color */
.mat-flat-button.mat-primary {
    --mdc-filled-button-container-color: #16a34a; 
}

/* dashboard.component.scss */
:host {
  height: 100%;
}

table {
  border-collapse: collapse;
}
