<form *ngIf="form" [formGroup]="form" (ngSubmit)="enviar()" class="p-6 max-w-4xl mx-auto space-y-6">
  <!-- Título -->
  <h1 class="text-center text-2xl font-bold mb-4 uppercase text-green-800">
    ENCUESTA DE SATISFACCIÓN PRODUCTOS
  </h1>
<div *ngIf="encuestaYaRespondida"
    class="max-w-xl mx-auto my-8 bg-green-100 border border-green-400 rounded-2xl p-6 shadow-lg flex flex-col items-center text-center">
    <div class="text-green-700 mb-4">
      <svg class="w-12 h-12 mx-auto" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm-.75-4.75a.75.75 0 011.5 0v.5a.75.75 0 01-1.5 0v-.5zM10 6a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 6z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <h2 class="text-lg sm:text-xl font-bold text-green-800 mb-2">Encuesta ya respondida</h2>
    <p class="text-green-900 text-sm">
      Esta encuesta ya fue contestada anteriormente. Gracias por tu participación.<br />
      El formulario se encuentra en modo lectura.
    </p>
  </div>

  <div *ngIf="!encuestaYaRespondida">
     <!-- Datos de contacto -->
  <div class="flex items-center justify-center">
    <mat-label>Que sucursal le atendió:</mat-label>
    <mat-radio-group formControlName="sucursal">
      <mat-radio-button class="example-margin" value="3">Pachuca</mat-radio-button>
      <mat-radio-button class="example-margin" value="1">Queretaro</mat-radio-button>
      <mat-radio-button class="example-margin" value="2">Puebla</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Empresa</mat-label>
      <input matInput formControlName="empresa" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" />
    </mat-form-field>
  </div>
  <div class="col-span-1 md:col-span-2 flex justify-center">
    <mat-form-field appearance="outline" class="w-full md:w-1/2">
      <mat-label>Cargo/Puesto</mat-label>
      <input matInput formControlName="cargo" />
    </mat-form-field>
  </div>

  <!-- Leyenda de bienvenida -->
  <div style="background-color: #419486">
    <div style="padding: 10px">
      <p class="text-white font-bold">
        Estimado cliente.<br />En JR Ingeniería Eléctrica nos interesa mejorar
        nuestro servicio.
      </p>
      <p class="text-black font-bold">
        Por favor indica tu respuesta en una escala del 0 al 10, donde 0
        representa el nivel más bajo y 10 el más alto
      </p>
    </div>
  </div>

  <!-- Preguntas + Comentarios -->
  <div class="grid grid-cols-1 md:grid-cols-5 gap-4">

    <!-- Columna izquierda: preguntas -->
    <div class="md:col-span-3 space-y-4">

      <div *ngFor="let field of fields" class="border rounded space-y-4">
        <div class="grid grid-cols-1">

          <!-- Pregunta -->
          <div class="md:col-span-3">
            <label class="font-semibold block mb-2">
              {{ field.label }}
            </label>

            <div class="flex flex-wrap gap-1 justify-start">
              <div class="emoji-block" *ngFor="let item of scale" [ngClass]="{
            low: item.value <= 6,
            medium: item.value === 7 || item.value === 8,
            high: item.value >= 9,
            selected: form.get(field.control)?.value === item.value
          }" (click)="form.get(field.control)?.setValue(item.value)">
                <div class="emoji">{{ item.emoji }}</div>
                <div class="number">{{ item.value }}</div>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>

    <!-- Columna derecha: comentarios -->
    <div class="md:col-span-2">
      <div class="p-4 border rounded h-full">
        <label class="font-semibold block">
          ¿Qué podemos mejorar para brindarte una mejor experiencia?
        </label>
        <mat-form-field appearance="outline" class="w-full h-[95%]">
          <textarea matInput rows="22" formControlName="razonServicio"></textarea>
        </mat-form-field>
      </div>
    </div>


  </div>

  <!-- Pregunta: Productos deseados -->
  <div class="p-4 border rounded mt-6">
    <label class="font-semibold block mb-2">
      ¿Qué servicios le gustaría que agreguemos a nuestro catálogo?
    </label>

    <mat-form-field appearance="outline" class="w-full">
      <textarea matInput rows="3" formControlName="productosDeseados"></textarea>
    </mat-form-field>
  </div>

  <!-- Pregunta: ¿Cómo conoció JR Ingeniería? -->
  <div class="p-4 border rounded mt-4">
    <label class="font-semibold block mb-3">
      ¿Cómo conociste JR Ingeniería?
    </label>

    <mat-radio-group formControlName="comoConocio" class="grid grid-cols-1 md:grid-cols-3 gap-3">
      <mat-radio-button value="Recomendación">
        Recomendación de un conocido
      </mat-radio-button>

      <mat-radio-button value="VisitaTienda">
        Visita a la tienda
      </mat-radio-button>

      <mat-radio-button value="BusquedaInternet">
        Búsqueda en internet
      </mat-radio-button>

      <mat-radio-button value="Espectaculares">
        Espectaculares
      </mat-radio-button>

      <mat-radio-button value="Evento">
        Encuentro en evento
      </mat-radio-button>

      <mat-radio-button value="RedesSociales">
        Redes sociales
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="pt-4">
    <button mat-raised-button color="primary" type="submit" class="w-full">
      Enviar
    </button>
  </div>
  </div>
 
</form>