<div class="absolute inset-0 flex flex-col overflow-hidden p-6">
  <h1 class="text-2xl font-bold mb-4">
      {{ projectId ? 'Editar Proyecto' : 'Nuevo Proyecto' }}
  </h1>

  <form [formGroup]="projectForm" (ngSubmit)="saveProject()" class="flex flex-col gap-4 overflow-auto">
    
    <!-- Nombre del Proyecto -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Nombre del Proyecto</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
  
    <!-- Categoría -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categoria">
        <mat-option *ngFor="let cat of categorias" [value]="cat.categoriaId">{{ cat.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- Unidad de Negocio -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Unidad de Negocio</mat-label>
      <mat-select formControlName="unidadDeNegocio">
        <mat-option *ngFor="let unidad of unidadesDeNegocio" [value]="unidad.unidadId">{{ unidad.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Fechas -->
    <div class="grid grid-cols-2 gap-4">
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Fecha de Inicio</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="fechaInicio">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Fecha de Fin</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="fechaFin">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>

    <!-- Estado -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Estado</mat-label>
      <input matInput formControlName="estado">
    </mat-form-field>

    <!-- Cliente y Contacto -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Cliente</mat-label>
      <mat-select formControlName="cliente">
        <mat-option *ngFor="let client of clients" [value]="client.clienteId">{{ client.clienteId }} - {{client.nombre}}</mat-option>
      </mat-select>
      <mat-error *ngIf="projectForm.get('cliente')?.hasError('noZero')">
        Debe seleccionar un cliente válido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Necesidad</mat-label>
      <input matInput formControlName="necesidad">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="direccion">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Nombre de Contacto</mat-label>
      <input matInput formControlName="nombreContacto">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Empresa</mat-label>
      <input matInput formControlName="empresa">
    </mat-form-field>

    <!-- Planos y Diagramas -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Levantamiento</mat-label>
      <input matInput formControlName="levantamiento">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Plano Arquitectónico</mat-label>
      <input matInput formControlName="planoArquitectonico">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Diagrama Isométrico</mat-label>
      <input matInput formControlName="diagramaIsometrico">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Diagrama Unifilar</mat-label>
      <input matInput formControlName="diagramaUnifilar">
    </mat-form-field>

    <!-- Materiales y Proveedores -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Materiales de Catálogo</mat-label>
      <input matInput formControlName="materialesCatalogo">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Materiales Presupuestados</mat-label>
      <input matInput formControlName="materialesPresupuestados">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Inventario Final</mat-label>
      <input matInput formControlName="inventarioFinal">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Proveedor</mat-label>
      <input matInput formControlName="proveedor">
    </mat-form-field>

    <!-- Costos y Finanzas -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Indirectos Costos</mat-label>
      <input matInput formControlName="indirectosCostos">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Fianzas</mat-label>
      <input matInput formControlName="fianzas">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Anticipo</mat-label>
      <input matInput formControlName="anticipo">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Pago</mat-label>
      <input matInput formControlName="pago">
    </mat-form-field>

    <!-- Programación y Reportes -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Programa de Trabajo</mat-label>
      <input matInput formControlName="programaDeTrabajo">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Avances y Reportes</mat-label>
      <input matInput formControlName="avancesReportes">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Comentarios</mat-label>
      <input matInput formControlName="comentarios">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Ruta Crítica</mat-label>
      <input matInput formControlName="rutaCritica">
    </mat-form-field>

    <!-- Cierre del Proyecto -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Cierre del Proyecto (Acta de Entrega)</mat-label>
      <input matInput formControlName="cierreProyectoActaEntrega">
    </mat-form-field>

    <!-- Botones -->
    <div class="flex justify-end gap-2 mt-4">
      <button mat-raised-button color="primary" type="submit">Guardar</button>
      <button mat-button color="warn" type="button" (click)="router.navigate(['/dashboards/project'])">Cancelar</button>
    </div>

  </form>
</div>