<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
  <!-- Main -->
  <div class="flex-auto">
    <!-- Header -->
    <div class="flex flex-auto flex-col justify-between border-b px-6 py-8 sm:flex-col md:flex- md:px-8">
      <!-- Title -->
      <div>
        <div class="text-4xl font-extrabold leading-none tracking-tight">
          Cotizaciones
        </div>
        <div class="text-secondary ml-0.5 font-medium">
          {{ quotesCount > 0 ? quotesCount : 'No Cotizaciones' }}
        </div>
        <div class="mt-4 flex items-center sm:mt-0 md:mt-4">  
         <!-- Search -->
     <div class="flex-auto">
      <mat-form-field
          class="fuse-mat-dense fuse-mat-rounded w-full min-w-50"
          subscriptSizing="dynamic"
      >
          <mat-icon
              class="icon-size-5"
              matPrefix
              [svgIcon]="
                  'heroicons_solid:magnifying-glass'
              "
          ></mat-icon>
          <input
              matInput
              [(ngModel)]="filterValue"
              (keyup)="applyFilter()"
              [autocomplete]="'off'"
              [placeholder]="'Search quotes'"
          />
      </mat-form-field>   
  </div>
  <!-- Add quotes button -->
  <div class="sticky py-2 flex justify-end ">
    <button class="ml-4" mat-flat-button color="primary" (click)="addQuote()" *ngIf="tienePermiso('btnAdd')">
      <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
      <span class="ml-2 mr-1">Agregar Cotización</span>
    </button>
  </div>
        </div>
      </div>
      
      <!-- Main actions -->
      
    </div>
    

 

    <!-- Cotizaciones list -->
    <div class="flex flex-auto flex-col justify-between border-b px-6 py-8 sm:flex-col md:flex- md:px-8">
      <div class="mat-elevation-z8" *ngIf="quotesCount > 0; else noQuotes">
        <!-- Tabla -->
        <div class="overflow-auto" style="max-height: 400px; overflow-y: auto;">
          <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort class="w-full">
              <!-- ID -->
              <ng-container matColumnDef="cotizacionId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  ID
                  <button mat-icon-button [matMenuTriggerFor]="filterMenu" (click)="openFilterMenu('cotizacionId')">
                    <mat-icon>filter_list</mat-icon>
                  </button>
                </th>
                <td mat-cell *matCellDef="let quote">{{ quote.cotizacionId }}</td>
              </ng-container>
          
              <!-- Cliente -->
              <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Cliente
                  <button mat-icon-button [matMenuTriggerFor]="filterMenu" (click)="openFilterMenu('cliente')">
                    <mat-icon>filter_list</mat-icon>
                  </button>
                </th>
                <td mat-cell *matCellDef="let quote">{{ quote.nombreCliente }}</td>
              </ng-container>
          
              <!-- Empresa -->
              <ng-container matColumnDef="empresa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Empresa
                  <button mat-icon-button [matMenuTriggerFor]="filterMenu" (click)="openFilterMenu('empresa')">
                    <mat-icon>filter_list</mat-icon>
                  </button>
                </th>
                <td mat-cell *matCellDef="let quote">{{ quote.empresa }}</td>
              </ng-container>
          
              <!-- Fecha Entrega -->
              <ng-container matColumnDef="fechaEntrega">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Fecha Entrega
                  <button mat-icon-button [matMenuTriggerFor]="filterMenu" (click)="openFilterMenu('fechaEntrega')">
                    <mat-icon>filter_list</mat-icon>
                  </button>
                </th>
                <td mat-cell *matCellDef="let quote">{{ quote.fechaEntrega | date: 'yyyy-MM-dd' }}</td>
              </ng-container>
          
              <!-- Estatus -->
              <ng-container matColumnDef="estatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Estatus
                  <button mat-icon-button [matMenuTriggerFor]="filterMenu" (click)="openFilterMenu('estatus')">
                    <mat-icon>filter_list</mat-icon>
                  </button>
                </th>
                <td mat-cell *matCellDef="let quote">{{ quote.estatus }}</td>
              </ng-container>
          
              <!-- Acciones -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let quote">
                  <button mat-button color="accent" (click)="editQuote(quote.cotizacionId)" *ngIf="tienePermiso('btnEdit')">
                    Editar
                  </button>
                  <button mat-button color="warn" (click)="deleteQuote(quote.cotizacionId)" *ngIf="tienePermiso('btnDelete')">
                    Eliminar
                  </button>
                  <button
                    mat-icon-button
                    color="grey"
                    matTooltip="Ver historial de estatus"
                    (click)="getHistorial(quote.cotizacionId)"
                  >
                    <mat-icon>history</mat-icon>
                  </button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

          <!-- Menu de Filtros -->
          <mat-menu #filterMenu="matMenu" class="filter-menu">
            <div class="filter-container">
              <ng-container *ngIf="currentFilterColumn">
                <!-- Filtro de texto -->
                <mat-form-field
                  *ngIf="isTextFilter(currentFilterColumn)"
                  appearance="outline"
                  class="filter-field"
                >
                  <mat-label>Filtro</mat-label>
                  <input
                    matInput
                    [(ngModel)]="filterValue"
                    (input)="applyFilter()"
                    (click)="$event.stopPropagation()"
                  />
                </mat-form-field>
          
                <!-- Filtro de selección -->
                <mat-form-field
                  *ngIf="isSelectFilter(currentFilterColumn)"
                  appearance="outline"
                  class="filter-field"
                >
                  <mat-label>Filtro</mat-label>
                    <mat-select (selectionChange)="applySelect()" [(ngModel)]="filterValue">
                    <mat-option
                      *ngFor="let option of getFilterOptions(currentFilterColumn)"
                      [value]="option"
                    >
                      {{
                      currentFilterColumn === 'fechaEntrega'
                        ? (option | date: 'yyyy-MM-dd')
                        : option
                      }}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
          
                <!-- Botón de reset -->
                <button
                  mat-stroked-button
                  color="primary"
                  class="reset-button"
                  (click)="resetFilter()"
                >
                  Reset
                </button>
              </ng-container>
            </div>
          </mat-menu>
        </div>

        <!-- Paginador -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

      <!-- No Cotizaciones -->
      <ng-template #noQuotes>
        <div class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
          Sin Cotizaciones
        </div>
      </ng-template>
    </div>
  </div>
</div>