::ng-deep .mat-header-cell {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
  border-bottom: 1px solid #e0e0e0;
}


::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 16px !important;
    padding: 5px;
}

::ng-deep .mat-mdc-dialog-title {
    display: block;
    margin-top: 0;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 0 0 1px;
    padding: 0;
}