@use 'sass:map';
@use '@angular/material' as mat;
@use 'user-themes' as userThemes;
@include mat.core();

// Paleta personalizada basada en #419486 pero agregando #2596be
$custom-primary: (
  50: #419486,
  100: #419486,
  200: #419486,
  300: #419486,
  400: #419486,
  500: #2596be, // reemplazamos con el nuevo color
  600: #2596be, // reemplazamos con el nuevo color
  700: #419486,
  800: #419486,
  900: #419486,
  A100: #419486,
  A200: #419486,
  A400: #419486,
  A700: #419486,
  contrast: (
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$my-primary: mat.m2-define-palette($custom-primary, 600);
$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  )
));

@include mat.all-component-themes($my-theme);
