<div class="absolute inset-0 flex flex-col overflow-hidden p-6">
  <h1 class="text-2xl font-bold mb-4">
    {{ quotesId ? "Editar Cotización" : "Nueva Cotización" }}
  </h1>
  <mat-tab-group class="h-full flex-1 overflow-hidden">
    <mat-tab label="Información General">
      <form
        [formGroup]="quotesForm"
        (ngSubmit)="saveQuotes()"
        class="flex flex-col gap-4 overflow-auto"
      >
        <div class="grid grid-cols-2 gap-4">
          <!-- Cliente -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Cliente</mat-label>
            <mat-select
              [formControl]="quotesForm.get('cliente')"
              #clienteSelect
              panelClass="custom-select-panel"
              (selectionChange)="onClienteSelected($event.value)"
            >
              <mat-option [value]="null">— Ninguno —</mat-option>
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="clienteFiltro"
                  placeholderLabel="Buscar cliente..."
                  noEntriesFoundLabel="No se encontraron resultados"
                  clearSearchInputLabel="Limpiar búsqueda"
                ></ngx-mat-select-search>
              </mat-option>

              <mat-option
                *ngFor="let client of filteredClients"
                [value]="client.clienteId"
              >
                {{ client.clienteId }} - {{ client.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="quotesForm.get('cliente')?.hasError('noZero')"
              >Debe seleccionar un cliente válido.</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Prospecto</mat-label>
            <mat-select
              [formControl]="quotesForm.get('prospecto')"
              #clienteSelect
              panelClass="custom-select-panel"
            >
              <mat-option [value]="null">— Ninguno —</mat-option>
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="prospectFiltro"
                  placeholderLabel="Buscar prospecto..."
                  noEntriesFoundLabel="No se encontraron resultados"
                  clearSearchInputLabel="Limpiar búsqueda"
                ></ngx-mat-select-search>
              </mat-option>

              <mat-option
                *ngFor="let prospect of filteredProspects"
                [value]="prospect.prospectoId"
              >
                {{ prospect.prospectoId }} - {{ prospect.empresa }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="quotesForm.get('prospecto')?.hasError('noZero')"
              >Debe seleccionar un prospecto válido.</mat-error
            >
          </mat-form-field>

          <!-- Nombre de Contacto -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Nombre de Contacto</mat-label>
            <input matInput formControlName="nombreContacto" />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <!-- Teléfono -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telefono" />
          </mat-form-field>

          <!-- Empresa -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Empresa</mat-label>
            <input matInput formControlName="empresa" />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <!-- Cotizacion -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Cotización</mat-label>
            <input matInput formControlName="cotizacion" />
          </mat-form-field>

          <!-- Necesidad -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Necesidad</mat-label>
            <textarea matInput formControlName="necesidad"></textarea>
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <!-- Dirección -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccion" />
          </mat-form-field>

          <!-- Orden de Compra -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Orden de Compra</mat-label>
            <input matInput formControlName="ordenCompra" />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <!-- Contrato -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Contrato</mat-label>
            <input matInput formControlName="contrato" />
          </mat-form-field>

          <!-- Proveedor -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Proveedor</mat-label>
            <input matInput formControlName="proveedor" />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <!-- Vendedor -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Vendedor</mat-label>
            <input matInput formControlName="vendedor" />
          </mat-form-field>

          <!-- Fechas -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Fecha de Entrega</mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              formControlName="fechaEntrega"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Fecha de Registro</mat-label>
            <input
              matInput
              [matDatepicker]="picker2"
              formControlName="fechaRegistro"
              disabled
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <!-- Ruta Crítica -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Ruta Crítica</mat-label>
            <textarea matInput formControlName="rutaCritica"></textarea>
          </mat-form-field>

          <!-- Factura -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Factura</mat-label>
            <input matInput formControlName="factura" />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <!-- Pago -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Pago</mat-label>
            <input
              matInput
              type="text"
              [value]="quotesForm.get('pago')?.value | currencyMask"
              (input)="updateValue($event, 'pago')"
              formControlName="pago"
            />
          </mat-form-field>

          <!-- Utilidad Programada -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Utilidad Programada</mat-label>
            <input
              matInput
              type="text"
              [value]="
                quotesForm.get('utilidadProgramada')?.value | currencyMask
              "
              (input)="updateValue($event, 'utilidadProgramada')"
              formControlName="utilidadProgramada"
            />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <!-- Utilidad Real -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Utilidad Real</mat-label>
            <input
              matInput
              type="text"
              [value]="quotesForm.get('utilidadReal')?.value | currencyMask"
              (input)="updateValue($event, 'utilidadReal')"
              formControlName="utilidadReal"
            />
          </mat-form-field>

          <!-- Financiamiento -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Financiamiento</mat-label>
            <input
              matInput
              type="text"
              [value]="quotesForm.get('financiamiento')?.value | currencyMask"
              (input)="updateValue($event, 'financiamiento')"
              formControlName="financiamiento"
            />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <!-- Estatus -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Estatus</mat-label>
            <mat-select formControlName="estatus">
              <mat-option *ngFor="let cat of estatus" [value]="cat.id">{{
                cat.nombre
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <!-- Forma de Pago -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Forma de Pago</mat-label>
            <input
              matInput
              formControlName="formaPago"
              placeholder="Ejemplo: Transferencia, Crédito"
            />
          </mat-form-field>

          <!-- Tiempo de Entrega -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Tiempo de Entrega</mat-label>
            <input
              matInput
              formControlName="tiempoEntrega"
              placeholder="Ejemplo: 15 días hábiles"
            />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 gap-4 mt-4">
          <!-- Monto Total -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Monto Total</mat-label>
            <input
              matInput
              type="number"
              formControlName="montoTotal"
              placeholder="Ejemplo: 50000"
            />
          </mat-form-field>

          <!-- Números de Ajustes de Costos -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Números de Ajustes de Costos</mat-label>
            <input
              matInput
              formControlName="ajustesCostos"
              placeholder="Ejemplo: AJ-001, AJ-002"
            />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 gap-4 mt-4">
          <!-- Comentarios, Notas -->
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Comentarios o Notas</mat-label>
            <textarea
              matInput
              formControlName="comentarios"
              placeholder="Notas adicionales sobre la cotización"
            ></textarea>
          </mat-form-field>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Archivos del Cotización">
      <div class="flex flex-col gap-4 h-[70vh] md:h-[80vh] lg:h-[80vh] overflow-auto pr-2">
        <div class="absolute inset-0 flex min-w-0 flex-col">
          <div class="grid grid-cols-2 md:grid-cols-4 gap-4 p-4">
            <!-- Cada input en una celda de la grid -->
            <!-- Archivo Cotización -->
            <div class="flex items-center gap-2">
                <label class="w-40">Cotización:</label>
                <button mat-stroked-button type="button" (click)="cotizacionInput.click()">
                Subir Archivo
                </button>
              <span *ngIf="cotizacionFile?.name" class="text-sm text-gray-600 truncate max-w-[200px]"></span>
              <input
                type="file"
                accept=".pdf,.doc,.docx,.xlsx"
                #cotizacionInput
                (change)="onFileSelected($event, 'cotizacion')"
                hidden
              />
            </div>
          </div>

          <!-- Lista de Archivos -->
          <div class="space-y-8 p-6 md:p-8">
            @if (files.length > 0) {
              <div>
                <div class="font-medium">Files</div>
                <div class="-m-2 mt-2 flex flex-wrap">
                  @for (file of files; track trackByFn($index, file)) {
                    <div class="relative m-2">
                      <!-- Card de archivo -->
                      <a
                        class="absolute right-1.5 top-1.5 z-20 h-10 min-h-10 w-8"
                        (click)="
                          deleteFile(
                            file.cotizacionId,
                            file.categoria,
                            file.nombreArchivo
                          )
                        "
                        mat-icon-button
                      >
                        <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:trash'"
                        ></mat-icon>
                      </a>
                      <a
                        class="bg-card flex h-40 w-50 cursor-pointer flex-col rounded-2xl p-4 shadow"
                        (click)="
                          downloadFile(
                            file.cotizacionId,
                            file.categoria,
                            file.nombreArchivo
                          )
                        "
                      >
                        <div class="aspect-[9/6]">
                          {{ file.categoria }}
                          <div class="flex h-full items-center justify-center">
                            <div class="relative">
                              <mat-icon
                                class="text-hint opacity-50 icon-size-14"
                                [svgIcon]="'heroicons_solid:document'"
                              ></mat-icon>
                              <div
                                class="absolute bottom-0 left-0 rounded px-1.5 text-sm font-semibold leading-5 text-white"
                                [class.bg-red-600]="file.type === 'PDF'"
                                [class.bg-blue-600]="file.type === 'DOC'"
                                [class.bg-green-600]="file.type === 'XLS'"
                                [class.bg-gray-600]="file.type === 'TXT'"
                                [class.bg-amber-600]="file.type === 'JPG'"
                                [class.bg-orange-600]="file.type === 'PNG'"
                              >
                                {{ file.type.toUpperCase() }}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="flex flex-auto flex-col justify-center text-center text-sm font-medium"
                        >
                          <div class="truncate" [matTooltip]="file.name">
                            {{ file.nombreArchivo }}
                          </div>
                        </div>
                      </a>
                    </div>
                  }
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
   <!-- Botones -->

        <div class="sticky bottom-0 py-2 flex justify-end gap-2 btn-float">
          <button mat-raised-button color="primary" type="submit">
            Guardar
          </button>
          <button
            mat-button
            color="warn"
            type="button"
            (click)="router.navigate(['/dashboards/quote'])"
          >
            Cancelar
          </button>
        </div>
</div>
