<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <!-- Main -->
    <div class="flex-auto">
        <!-- Header -->
        <div class="flex flex-auto flex-col justify-between px-6 sm:flex-col md:flex- md:px-8">
            <!-- Title -->
            <div>
                <div class="text-4xl font-extrabold leading-none tracking-tight">
                    Clientes
                </div>
                <div class="text-secondary ml-0.5 font-medium">
                    @if (clientsCount > 0) {
                        {{ clientsCount }}
                    }
                    {{
                        clientsCount
                        | i18nPlural : {
                            '=0': 'Sin clientes',
                            '=1': 'cliente',
                            other: 'clientes',
                        }
                    }}
                </div>
            </div>
             <!-- Main actions -->
      <div class="mt-4 flex items-center sm:mt-0 md:mt-4">
        <!-- Search -->
        <div class="flex-auto">
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded w-full min-w-50"
                subscriptSizing="dynamic"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="
                        'heroicons_solid:magnifying-glass'
                    "
                ></mat-icon>
                <input
                    matInput
                    (keyup)="applyFilter($event)"    
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar cliente'"
                />
            </mat-form-field>    
        </div>
         <!-- Add client button -->
         <button class="ml-4" mat-flat-button [color]="'primary'" (click)="addClient()" *ngIf="tienePermiso('btnAdd')">
            <mat-icon [svgIcon]="'heroicons_outline:user-plus'"></mat-icon>
            <span class="button-text ml-2 mr-1">Agregar Cliente</span>
        </button>

        <button class="ml-2" mat-flat-button [color]="'primary'" (click)="fileInput.click()" *ngIf="tienePermiso('btnAdd')">
            <mat-icon svgIcon="heroicons_outline:arrow-up-tray"></mat-icon>
            <span class="button-text ml-2 mr-1">Subir Archivo</span>
        </button>
    
        <!-- Hidden file input for Excel -->
        <input #fileInput type="file" accept=".xls, .xlsx" (change)="onFileSelected($event)" style="display: none;">
    </div>


    </div>
     
            <div class="sticky py-2 flex justify-end ">
               

            <!-- Main actions -->
                   </div>

        <!-- Clients list -->
        <div class="flex flex-auto flex-col justify-between px-6 py-8 sm:flex-col md:flex- md:px-8">
            @if (clientsCount > 0) {
                <div class="mat-elevation-z8">
                    <!-- Tabla -->
                    <div class="overflow-auto" style="max-height: 400px; overflow-y: auto;">
                        <table mat-table [dataSource]="dataSource" matSort class="w-full">
                          <!-- ID -->
                          <ng-container matColumnDef="clienteId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                            <td mat-cell *matCellDef="let client"> {{ client.clienteId }} </td>
                          </ng-container>
                      
                          <!-- Nombre -->
                          <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let client"> {{ client.nombre }} </td>
                          </ng-container>
                      
                          <!-- Teléfono -->
                          <ng-container matColumnDef="telefono">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
                            <td mat-cell *matCellDef="let client"> {{ client.telefono }} </td>
                          </ng-container>
                      
                          <!-- Email -->
                          <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                            <td mat-cell *matCellDef="let client"> {{ client.email }} </td>
                          </ng-container>
                      
                          <!-- Empresa -->
                          <ng-container matColumnDef="empresa">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </th>
                            <td mat-cell *matCellDef="let client"> {{ client.empresa }} </td>
                          </ng-container>
                      
                          <!-- Acciones -->
                          <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let client">
                                <button mat-icon-button color="accent" class="small-icon-button" (click)="editClient(client.clienteId)"
                                    *ngIf="tienePermiso('btnEdit')">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" class="small-icon-button" (click)="deleteClient(client.clienteId)"
                                    *ngIf="tienePermiso('btnDelete')">
                                    <mat-icon>delete</mat-icon></button>
                            </td>
                          </ng-container>
                      
                          <!-- Filas -->
                          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <!-- Paginador -->
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            } @else {
                <div class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
                    Sin clientes
                </div>
            }
        </div>
    </div>
</div>