cierre-terminal-list {
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    table {
        background: transparent !important;
        border-collapse: separate; // Often needed for sticky headers to work perfectly with certain borders

        .mat-header-cell {
            background: #F8FAFC !important;
            z-index: 100 !important;
        }

        .mat-column-acciones {
            &.mat-header-cell, &.mat-cell {
                background: white !important;
            }
            &.mat-header-cell {
                background: #F8FAFC !important;
                z-index: 101 !important; // Higher z-index for the corner where sticky header and sticky column meet
            }
        }

        .mat-row {
            &:hover {
                background-color: rgba(var(--fuse-primary-rgb), 0.03) !important;
            }
        }
    }
}
