<div class="absolute inset-0 flex flex-col overflow-hidden p-6">
  <h1 class="text-2xl font-bold mb-4">
    {{ prospectsId ? 'Editar Prospecto' : 'Nuevo Prospecto' }}
  </h1>

  <form [formGroup]="prospectForm" (ngSubmit)="saveProspect()" class="flex flex-col gap-4 overflow-auto">
    
    <div class="grid grid-cols-2 gap-4">
      <!-- Empresa -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Empresa</mat-label>
        <input matInput formControlName="empresa">
      </mat-form-field>

      <!-- Contacto -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Nombre de Contacto</mat-label>
        <input matInput formControlName="contacto">
      </mat-form-field>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <!-- Teléfono -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono">
      </mat-form-field>

      <!-- Puesto -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Puesto</mat-label>
        <input matInput formControlName="puesto">
      </mat-form-field>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <!-- Giro Empresa -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Giro de la Empresa</mat-label>
        <input matInput formControlName="giroEmpresa">
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <!-- Área de Interés -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Área de Interés</mat-label>
        <input matInput formControlName="areaInteres">
      </mat-form-field>

      <!-- Tipo Empresa -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Tipo de Empresa</mat-label>
        <input matInput formControlName="tipoEmpresa">
      </mat-form-field>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <!-- Cómo se obtuvo el contacto -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Cómo se obtuvo el contacto</mat-label>
        <mat-select formControlName="comoSeObtuvo" (selectionChange)="onComoSeObtuvoChange($event.value)">
          <mat-option *ngFor="let opcion of opcionesContacto" [value]="opcion">{{ opcion }}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <!-- Campo "Otros" (solo visible si se elige "Otros") -->
      <mat-form-field *ngIf="mostrarCampoOtros" appearance="fill" class="w-full">
        <mat-label>Especificar otro medio</mat-label>
        <textarea matInput formControlName="otros"></textarea>
      </mat-form-field>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Líder de Proyecto</mat-label>
        <mat-select formControlName="personalSeguimiento">
          <mat-option
            *ngFor="let user of user"
            [value]="user.usuarioId"
          >
            {{ user.nombreUsuario }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Botones -->
    <div class="sticky bottom-0 py-2 flex justify-end gap-2">
      <button mat-raised-button color="primary" type="submit">Guardar</button>
      <button mat-button color="warn" type="button" (click)="router.navigate(['/dashboards/prospects'])">Cancelar</button>
    </div>

  </form>
</div>